<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户编辑界面</title>

    <script type="text/javascript">
        function preShow() {

        }
    </script>
</head>
<body>

<form th:action="@{${teacher.tid} ? '/teacher/edit' : '/teacher/add'}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="tid" th:value="${teacher.tid}" />
    <input type="hidden" name="imagePath" th:value="${teacher.imagePath}" />
    <img id="imgshow" src="" alt=""/>
    <input type="file" name="image" onchange="preShow();"></br>
    教员名称： <input type="text" name="tname" th:value="${teacher.tname}" /></br>
    教员描述： <input type="text" name="description" th:value="${teacher.description}" /></br>
    单选回显
    <input type="radio" name="sex"
           th:each ="s:${sexArr}"
           th:value="${s}"
           th:text ="${s}"
           th:attr ="checked=${s == teacher.sex}">

    <input type="submit" value="提交"/>
</form>

</body>
</html>
